/*Base start*/@charset "gb2312";body,td,th{font-size:12px;font-family:"微软雅黑","宋体",arial}
a img{border:none}
.imga{vertical-align:bottom}
.imgb{vertical-align:bottom;display:block}
body,div,p,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote{padding:0px;margin:0px;word-break:break-all}
li{list-style-type:none}
a{font-size:12px;line-height:18px;color:#000000;text-decoration:none}
a:hover{text-decoration:none;color:#000099}
a.more{float:right;height:auto}
a.more:hover{text-decoration:none}
a.leftmore{font-size:12px;color:#000000;float:right;height:auto}
a.leftmore:hover{text-decoration:none;color:#CCCCCC}
.clear{clear:both}
.clear2{height:2px;overflow:hidden;clear:both}
.clear4{height:4px;overflow:hidden;clear:both}
.clear6{height:6px;overflow:hidden;clear:both}
.clear8{height:8px;overflow:hidden;clear:both}
.clear10{height:10px;overflow:hidden;clear:both}
.clear15{height:15px;overflow:hidden;clear:both}
.clear20{height:20px;overflow:hidden;clear:both}
.clear30{height:30px;overflow:hidden;clear:both}
.clearfix{display:block}
.vam{vertical-align:middle}
.tr{text-align:right}
.tl{text-align:left}
.center{text-align:center}
.fl{float:left}
.fr{float:right}
.testspan{display:block;float:left;color:#060;height:1px;width:4px;border-top:1px solid #00FFFF;border-right:2px solid #FFFF33;border-bottom:2px solid #0000FF;border-left:2px solid #FFFF00;overflow:hidden}
.testhidde{display:none}
.zarea{position:fixed;z-index:800;top:0;height:187px;width:100%;overflow:hidden}
.box1{width:980px;margin:0 auto}
.navbox{width:980px;margin:0 auto}
.headerbox{width:100%;margin:0 auto}
.maincontent{padding:10px;line-height:40px;text-align:left;height:20px;font-size:18px}
.ulstyleone ul{width:100%}
.ulstyleone li{font-size:12px;line-height:30px;height:30px;border-bottom:1px dashed #999999}
.ulstyleone a{color:#333333;font-size:12px}
.ulstyleone a:hover{text-decoration:none;color:#666666}
.listyleone{font-size:12px;line-height:30px;height:30px;border-bottom:1px dashed #FF0000}
.timeright{color:#666666}
a.ared:link,a.ared:visited,a.ared:active{color:#333333}
a.ared:hover{color:#FF0000;text-decoration:underline}
.position{font-size:12px;line-height:28px;color:#666;border-bottom:1px solid #CCC;margin-bottom:10px;font-weight:normal;margin-top:10px}
.position a{font-size:12px;color:#666;font-family:"宋体";font-weight:normal;height:30px;line-height:30px}
.position a:hover{text-decoration:underline;color:#666}
.newsphotoleft{float:left;display:inline;margin:0 10px 0 0}
.newstextright{height:14px;line-height:14px;font-size:12px;color:#666666}
a.apos{position:absolute}
.textbox{position:relative}
.t_page{padding:10px;text-align:center;font-size:14px;line-height:25px;font-family:"微软雅黑","黑体","宋体";color:#333}
.t_page a{padding:4px 10px;border:1px solid #DEDEDC;margin:0px 2px;font-size:14px;font-family:"微软雅黑","黑体","宋体";color:#333}
.t_page a:hover{background-color:#F1F1F1}
.t_page .PageBox{padding:4px 10px;border:1px solid #DEDEDC;margin:0px 2px;font-family:"微软雅黑","黑体","宋体";color:#999999}
.t_page .ThisPage{padding:4px 10px;border:1px solid #DEDEDC;margin:0px 2px;font-family:"微软雅黑","黑体","宋体";color:#333333}
.updownpage{font-size:14px;line-height:24px;color:#999999;margin-top:20px}
.updownpage a{font-size:14px;line-height:24px;color:#000;margin-top:20px}
.updownpage a:hover{font-size:14px;line-height:24px;color:#242424;margin-top:20px;text-decoration:underline}
.maincontent{padding:10px;line-height:22px;text-align:left;font-size:12px;height:auto}
.maincontent h1{text-align:center;font:"宋体";font-size:18px;height:40px;line-height:40px}
.maincontent .topbar{font-size:12px;color:#666666;height:28px;line-height:28px}
.maincontent .showimg{text-align:center;padding:10px}
.newmaincontent{padding:10px;line-height:22px;text-align:left;font-size:12px}
.newmaincontent h1{text-align:center;font:"宋体";font-size:18px;height:40px;line-height:40px}
.newmaincontent .topbar{font-size:12px;color:#666666;height:28px;line-height:28px}
.uldownlist1 ul{width:100%}
.uldownlist1 li{font-size:12px;line-height:30px;height:30px;border-bottom:1px dashed #999999}
.uldownlist1 a{color:#333333;font-size:12px;text-decoration:none}
.uldownlist1 a:hover{text-decoration:none;color:#666666;text-decoration:underline}
.uldownlist1 span{float:right;margin-right:10px;color:#999999}
.uldownlist1 .down{float:right;margin-right:10px;color:#FF0000}
.uldownlist1 .down a{color:#FF0000;font-size:12px;text-decoration:none}
.uldownlist1 .down a:hover{text-decoration:none;color:#C60000;text-decoration:underline}
.productdisplay1 li{width:233px;height:231px;margin:0 19px 6px 0;text-align:center;float:left}
.productdisplay1 .lirt{margin:0 0 6px 0}
.productdisplay1 li img{width:200px;height:170px;margin-top:10px;padding:1px;border:1px solid #666666}
.productdisplay1 li a{padding:0px;margin:0px}
.productdisplay1 li div{height:30px;overflow:hidden}
.productdisplay1 li div a{font-size:14px;line-height:24px;font-family:"微软雅黑","黑体","宋体";color:#000000}
.productdisplay1 li div a:hover{text-decoration:underline}
.uldownlist2 ul{width:100%}
.uldownlist2 li{font-size:12px;line-height:30px;border-bottom:1px dashed #999999;margin-bottom:10px}
.uldownlist2 a{color:#333333;font-size:12px;text-decoration:none}
.uldownlist2 a:hover{text-decoration:none;color:#666666;text-decoration:underline}
.uldownlist2 .newtitle{line-height:40px}
.uldownlist2 .newtitle h3{float:left}
.uldownlist2 .newtitle a{font-family:"微软雅黑";font-size:18px;line-height:40px;color:#000000}
.uldownlist2 .newtitle a:hover{text-decoration:underline}
.uldownlist2 .newtitle span{float:right;font-family:"微软雅黑";font-size:12px;color:#999999}
.uldownlist2 .newcontent{font-family:"微软雅黑";font-size:12px;color:#000000;line-height:22px}
.uldownlist2 .newsdown{text-align:right}
.uldownlist2 .newsdown a{color:#FF0000;font-size:12px;line-height:30px}
.uldownlist2 .newsdown a:hover{text-decoration:underline}
.ulnewslist1 ul{width:100%}
.ulnewslist1 li{font-size:12px;line-height:30px;height:30px;border-bottom:1px dashed #999999}
.ulnewslist1 a{color:#333333;font-size:12px;text-decoration:none;float:left;line-height:30px}
.ulnewslist1 a:hover{text-decoration:none;color:#666666;text-decoration:underline}
.ulnewslist1 span{float:right;margin-right:10px;color:#999999}
.ulpro2 ul{width:100%}
.ulpro2 li{font-size:12px;border-bottom:1px dashed #999999;margin-bottom:10px}
.ulpro2 a{color:#333333;font-size:12px;text-decoration:none}
.ulpro2 a:hover{text-decoration:none;color:#666666;text-decoration:underline}
.ulpro2 .listleft{float:left}
.ulpro2 .listright{float:right;height:auto;width:560px}
.ulpro2 .listright .content{font-family:"微软雅黑";font-size:12px;line-height:22px;color:#000000}
.ulpro2 .listright a{font-family:"微软雅黑";font-size:18px;line-height:40px;color:#000000;text-align:center}
.ulpro2 .listright title{text-align:center;line-height:40px;font-weight:bold}
.ulpro2 .listright .pp a{font-family:"微软雅黑";font-size:14px;float:right;line-height:15px}
.ulnewslist0 ul{width:100%}
.ulnewslist0 li{font-size:12px;line-height:30px;border-bottom:1px dashed #999999;margin-bottom:10px}
.ulnewslist0 a{color:#333333;font-size:12px;text-decoration:none}
.ulnewslist0 a:hover{text-decoration:none;color:#666666;text-decoration:underline}
.ulnewslist0 li{clear:both}
.ulnewslist0 .newtitle{line-height:40px}
.ulnewslist0 .newtitle a{font-family:"微软雅黑";font-size:18px;line-height:40px;color:#000000}
.ulnewslist0 .newtitle a:hover{text-decoration:underline}
.ulnewslist0 .newtitle .title{float:left;font-weight:bold;width:500px}
.ulnewslist0 .newtitle span{float:right;font-family:"微软雅黑";font-size:12px;color:#999999}
.ulnewslist0 .newcontent{font-family:"微软雅黑";font-size:12px;color:#000000;line-height:22px}
.productdisplay li{width:233px;height:231px;margin:0 19px 6px 0;background-image:url(/Skins/Test/Index/probg2.jpg);text-align:center;float:left}
.productdisplay .lirt{margin:0 0 6px 0}
.productdisplay li img{width:200px;height:170px;margin-top:10px;padding:1px;border:1px solid #666666}
.productdisplay li a{padding:0px;margin:0px}
.productdisplay li div{height:30px;overflow:hidden}
.productdisplay li div a{font-size:14px;line-height:24px;font-family:"微软雅黑","黑体","宋体";color:#000000}
.productdisplay li div a:hover{text-decoration:underline}
.ulnewslist2{position:relative;margin-bottom:20px}
.ulnewslist2 .time{color:#1295d8;font-size:18px;line-height:36px;font-family:"微软雅黑","宋体";float:left;text-align:center;display:block;padding:0 50px 0 10px}
.ulnewslist2 .cright{float:left;margin-left:0px}
.ulnewslist2 .ctitle{color:#1295d8;font-size:14px;line-height:36px;font-family:"微软雅黑","宋体";text-align:left}
.ulnewslist2 a.one{left:137px;top:3px;color:#1295d8;font-size:14px;line-height:36px;font-family:"微软雅黑","宋体";text-align:center}
.ulnewslist2 a.one:hover{text-decoration:underline}
.ulnewslist2 a.other{left:137px;top:3px;color:#1295d8;font-size:16px;line-height:36px;font-family:"微软雅黑","宋体";text-align:left}
.ulnewslist2 a.other:hover{text-decoration:underline;color:#107EBA}
.ulnewslist2 .cabout{color:#888;font-size:14px;line-height:26px;font-family:"微软雅黑","宋体";width:510px}
/*Base end*//*模块功能列表_sharembweb_home__style.css start*//************* 公共 *************/
.boxwrap{width:980px;margin:0 auto}
.boxwrap .leftwrap{width:210px;float:left}
.boxwrap .rightwrap{width:760px;float:right}
/*标题样式*/
.titlewrap{font-family:"微软雅黑","黑体","宋体";font-size:16px;line-height:30px;color:#333333}
.titlewrap2{font-family:"微软雅黑","黑体","宋体";font-size:18px;line-height:30px;color:#333333}
.titlewrap3{font-family:"微软雅黑","黑体","宋体";font-size:22px;line-height:50px;color:#333333}
/*内容样式*/
.contentwrap{font-family:"微软雅黑","黑体","宋体";font-size:12px;line-height:22px;color:#333333}
.contentwrap2{font-family:"微软雅黑","黑体","宋体";font-size:14px;line-height:22px;color:#333333}
.contentwrap3{font-family:"微软雅黑","黑体","宋体";font-size:14px;line-height:18px;color:#333333}
/*背景黑色链接*/
a.abgblack{display:block;font-family:"微软雅黑","黑体","宋体";font-size:18px;color:#fff;background-color:#2E2E2E;text-decoration:none;padding:14px 30px;text-align:center}
a.abgblack:hover{background-color:#000}
/*背景灰色链接*/
a.abggrey{display:block;font-family:"微软雅黑","黑体","宋体";font-size:18px;color:#fff;background-color:#666666;text-decoration:none;padding:14px 30px;text-align:center}
a.abggrey:hover{background-color:#000}
/*灰色第2种*/
a.abggrey2{display:block;font-family:"微软雅黑","黑体","宋体";font-size:18px;color:#fff;background-color:#666666;text-decoration:none;padding:10px 30px;text-align:center}
a.abggrey2:hover{background-color:#000}
/*灰色第3种*/
a.abggrey3{display:block;font-family:"微软雅黑","黑体","宋体";font-size:18px;color:#666;background-color:#fff;text-decoration:none;padding:10px 30px;text-align:center;border:1px solid #CCCCCC}
a.abggrey3:hover{background-color:#EAEAEA}
/*背景黄色链接*/
a.abgyellow{display:block;font-family:"微软雅黑","黑体","宋体";font-size:18px;color:#fff;background-color:#E7601E;text-decoration:none;padding:14px 30px;text-align:center}
a.abgyellow:hover{background-color:#CD5216}
/*背景黄色链接2*/
a.abgyellow2{display:block;font-family:"微软雅黑","黑体","宋体";font-weight:bold;font-size:20px;color:#F6DFD3;background-color:#FF6600;text-decoration:none;padding:16px 30px;text-align:center;letter-spacing:10px;margin:0 10%}
a.abgyellow2:hover{background-color:#CD5216}
/*背景红色链接*/
a.abgred{display:block;font-family:"微软雅黑","黑体","宋体";font-size:18px;color:#fff;background-color:#FF0000;text-decoration:none;padding:14px 30px;text-align:center}
a.abgred:hover{background-color:#DF0000}
/*button按钮黑色样式*/
.btnbgblue{display:block;width:100%;font-family:"微软雅黑","黑体","宋体";font-size:18px;color:#fff;background-color:#1B5D98;text-decoration:none;padding:10px 30px;cursor:pointer;border:0px}
.btnbgblue:hover{background-color:#144470}
/*黑色按钮*/
.btnbgblack{display:block;width:100%;font-family:"微软雅黑","黑体","宋体";font-size:18px;color:#fff;background-color:#2E2E2E;text-decoration:none;padding:10px 30px;cursor:pointer;border:0px}
.btnbgblack:hover{background-color:#000}
/*黄色按钮*/
.btnbgyellow{display:block;width:100%;font-family:"微软雅黑","黑体","宋体";font-size:18px;color:#fff;background-color:#E7601E;text-decoration:none;padding:10px 30px;cursor:pointer;border:0px}
.btnbgyellow:hover{background-color:#CD5216}
/*黄色按钮2*/
.btnbgyellow2{display:block;width:100%;font-family:"微软雅黑","黑体","宋体";font-size:20px;color:#F6DFD3;background-color:#FF6600;text-decoration:none;padding:16px 30px;cursor:pointer;border:0px;text-align:center;letter-spacing:10px}
.btnbgyellow2:hover{background-color:#CD5216}
/*红色按钮*/
.btnbgred{display:block;width:100%;font-family:"微软雅黑","黑体","宋体";font-size:18px;color:#fff;background-color:#FF0000;text-decoration:none;padding:10px 30px;cursor:pointer;border:0px}
.btnbgred:hover{background-color:#DF0000}
/*灰色按钮*/
.btnbgrey{display:block;width:100%;font-family:"微软雅黑","黑体","宋体";font-size:18px;color:#fff;background-color:#666666;border:0px;border:1px solid #CCCCCC;text-decoration:none;padding:10px 30px;cursor:pointer}
.btnbgrey:hover{background-color:#000}
/*灰色按钮2*/
.btnbgrey2{display:block;width:100%;font-family:"微软雅黑","黑体","宋体";font-size:18px;color:#fff;background-color:#666666;border:0px;border:1px solid #CCCCCC;text-decoration:none;padding:10px 20px;cursor:pointer}
.btnbgrey2:hover{background-color:#000}
/*灰色按钮3*/
.btnbgrey3{display:block;width:100%;font-family:"微软雅黑","黑体","宋体";font-size:18px;color:#666;background-color:#fff;border:0px;border:1px solid #CCCCCC;text-decoration:none;padding:10px 30px;cursor:pointer}
.btnbgrey3:hover{background-color:#EAEAEA}
/*链接与按钮通用20151209*/
a.clickyellow,.clickyellow{font-family:"微软雅黑","黑体","宋体";font-size:18px;color:#fff;background-color:#E7601E;text-decoration:none;padding:14px 30px;text-align:center}
a.clickyellow:hover,.clickyellow:hover{background-color:#CD5216}
/*黑色链接*/
a.clickblack,.clickblack{font-family:"微软雅黑","黑体","宋体";font-size:18px;color:#fff;background-color:#2E2E2E;text-decoration:none;padding:14px 30px;text-align:center}
a.clickblack:hover,.clickblack:hover{background-color:#000}
/*灰色链接*/
a.clickgrey,.clickgrey{font-family:"微软雅黑","黑体","宋体";font-size:18px;color:#fff;background-color:#666666;text-decoration:none;padding:14px 30px;text-align:center}
a.clickgrey:hover,.clickgrey:hover{background-color:#000}
/*灰色链接第2种*/
a.clickgrey2,.clickgrey2{font-family:"微软雅黑","黑体","宋体";font-size:18px;color:#fff;background-color:#666666;text-decoration:none;padding:10px 30px;text-align:center}
a.clickgrey2:hover,.clickgrey2:hover{background-color:#000}
/*灰色链接第3种*/
a.clickgrey3,.clickgrey3{font-family:"微软雅黑","黑体","宋体";font-size:18px;color:#666;background-color:#fff;text-decoration:none;padding:10px 30px;text-align:center;border:1px solid #CCCCCC}
a.clickgrey3:hover,.clickgrey3:hover{background-color:#EAEAEA}
/*黄色链接*/
/*黄色链接第2种*/
a.clickyellow2,.clickyellow2{font-family:"微软雅黑","黑体","宋体";font-size:20px;color:#F6DFD3;background-color:#FF6600;text-decoration:none;padding:16px 30px;text-align:center}
a.clickyellow2:hover,.clickyellow2:hover{background-color:#CD5216}
/*红色链接*/
a.clickred,.clickred{font-family:"微软雅黑","黑体","宋体";font-size:18px;color:#fff;background-color:#FF0000;text-decoration:none;padding:14px 30px;text-align:center}
a.clickred:hover,.clickred:hover{background-color:#DF0000}
/*链接颜色设置部分 蓝色是给优化用的*/
a.ablue{text-decoration:none;color:#06C}
a.ablue:hover{color:#06C}
a.red{text-decoration:none;color:#FF0000}
a.red:hover{color:#FF0000}
/****************************************** 上一页，下一页 翻页样式 ******************************************/
.pagewrap{text-align:center}
.pagewrap a{border:1px solid #E3E2E2;padding:10px;color:#999999}
.pagewrap a:hover{color:#999999;background-color:#F0F0F0}
.pagewrap a.left{background-image:url(/Templates2015/sharembweb/Images/leftico.png);background-repeat:no-repeat;margin-right:20px;margin-left:40%;width:20px;height:20px;float:left;display:block;background-position:center center}
.pagewrap a.right{background-image:url(/Templates2015/sharembweb/Images/rightico.png);background-repeat:no-repeat;margin-right:10px;width:20px;height:20px;float:left;display:block;background-position:center center}
/****************************************** 新闻列表 ******************************************/
.newsgl{padding:10px 20px 30px 20px}
.newsgl .title{color:#666666;font-size:22px;font-family:"微软雅黑","黑体","宋体";padding:0 0 10px 0}
.newsgl .title .morewrap{float:right;margin:0 10px 0 0;color:#000000;font-size:14px;line-height:40px;font-family:"微软雅黑","黑体","宋体"}
.newsgl .title .morewrap a{font-size:14px;font-family:"微软雅黑","黑体","宋体"}
.newsgl .content{}
.newsgl a{color:#A1A1A1;font-size:18px;font-family:"微软雅黑","黑体","宋体";padding:10px;display:block;position:relative;background-color:}
.newsgl a:hover{color:#666666}
.newsgl a span{position:absolute;right:10px}
/****************************************** 产品列表 ******************************************/
.productlistwrap1{position:relative;height:200px;border-bottom:1px solid #E60012;margin:20px 0 0 0;overflow:hidden}
.productlistwrap1 .buyico{position:absolute;right:10px;bottom:20px}
.productlistwrap1 .left{float:left;margin:0 4px}
.productlistwrap1 .right{position:relative;float:left;height:200px}
.productlistwrap1 .right .title{color:#2c2c2c;font-family:"微软雅黑","黑体","宋体";font-size:16px;line-height:40px;height:40px;width:100%;overflow:hidden}
.productlistwrap1 .right .about{color:#ca9718;font-family:"微软雅黑","黑体","宋体";font-size:14px;line-height:40px;height:40px;overflow:hidden}
.productlistwrap1 .right .price{position:absolute;left:0px;bottom:20px;font-size:16px;font-family:"微软雅黑","黑体","宋体";color:#FF0000}
.productlistwrap1 .right .title a{font-size:16px;font-family:"微软雅黑","黑体","宋体";color:#333333;line-height:40px;text-shadow:0px 0px 0px;font-weight:normal}
.productlistwrap1 .right .title a:hover{color:#000000}
/*处理*/
.productlistwrap1 .right .handle{font-size:18px;line-height:20px;font-family:"微软雅黑","黑体","宋体";color:#A2A26F;margin:10px 0 0 0}
/*价格*/
.productlistwrap1 .right .pricex{font-size:18px;line-height:20px;font-family:"微软雅黑","黑体","宋体";color:red;margin:10px 0 0 0;margin:0 0 0 50px}
/*价格2*/
.productlistwrap1 .right .pricex2{font-size:18px;line-height:20px;font-family:"微软雅黑","黑体","宋体";color:red;margin:10px 0 0 0;margin:0 0 0 0px}
/*元字单独设置*/
.productlistwrap1 .right .pricex .yuan{font-size:12px;margin:0 0 0 4px}
/*固定右边*/
.productlistwrap1 .fixedtopright{position:absolute;right:0;top:0;z-index:98}
/*按钮链接*/
.productlistwrap1 a.btnon{display:block;background-color:#FF0000;color:#FFFFFF;font-size:16px;line-height:20px;font-family:"微软雅黑","黑体","宋体";margin:0 20px 80px 0;padding:8px 20px;position:absolute;right:0;bottom:0;z-index:99}
.productlistwrap1 a.btnon:hover{background-color:#BDBDBD}
/*按钮文本*/
.productlistwrap1 .txtfocus{display:block;background-color:#BDBDBD;color:#FFFFFF;font-size:16px;line-height:20px;font-family:"微软雅黑","黑体","宋体";margin:0 20px 80px 0;padding:8px 20px;position:absolute;right:0;bottom:0;z-index:99}
.productlistwrap1 .txton{display:block;background-color:#FF0000;color:#FFFFFF;font-size:16px;line-height:20px;font-family:"微软雅黑","黑体","宋体";margin:0 20px 80px 0;padding:8px 20px;position:absolute;right:0;bottom:0;z-index:99}
/*顶右上显示几件*/
.productlistwrap1 .jianwrap{color:#C4C4C4;font-size:12px;line-height:20px;font-family:"微软雅黑","黑体","宋体";margin:10px 4px 0 0}
.productlistwrap1 .jianwrap span{font-size:22px;line-height:24px;margin:0 4px 0 0}
/*一行块默认样式*/
.rowwrap{margin:0 0 10px 0px}
.rowwrap span{color:#a1a1a1;font-size:14px;font-family:"微软雅黑","黑体","宋体";line-height:28px;margin:0px}
.rowwrap2{margin:0 0 10px 0px}
.rowwrap2 div{float:left;color:#a1a1a1;font-size:14px;font-family:"微软雅黑","黑体","宋体";line-height:28px;margin:0px}
/*input输入框加背景*/
.inputstyle{color:#929292;border:1px solid #DEDEDE;padding:6px;font-family:"微软雅黑","黑体","宋体";font-size:14px;line-height:22px;background-image:url(/Templates2015/sharembweb/Images/inputbg.gif);background-repeat:repeat-x;background-color:#FFFFFF}
/*input输入框不加背景*/
.inputstyle2{padding:6px;border:1px solid #FFF;border-bottom:1px solid #B4B4B4;color:#666666;font-size:16px;line-height:32px}
/****************************************** 页控件（20151110） ******************************************/
/*页控件包*/
.pagecontrolwrap{height:30px;line-height:30px;color:#666666;font-size:14px;font-family:"微软雅黑","黑体","宋体"}
.pagecontrolwrap li{float:left}
/*页信息*/
.pagecontrolwrap .pageinfo{margin:4px 10px 0 0;line-height:26px}
/*页li*/
.pagecontrolwrap .pageli{color:#8D8D8D;border:1px solid #CCCCCC;height:30px;line-height:30px;margin:0 2px;padding:0 14px}
/*链接*/
.pagecontrolwrap a{color:#333;border:1px solid #CCCCCC;height:30px;line-height:30px;display:block;margin:0 2px;padding:0 14px;font-size:14px;font-family:"微软雅黑","黑体","宋体"}
.pagecontrolwrap a:hover{background-color:#F4F4F4}
/*交点*/
.pagecontrolwrap .pagefocus{color:#8D8D8D;border:1px solid #CCCCCC;background-color:#F4F4F4;height:30px;line-height:30px;display:block;margin:0 2px;padding:0 14px}
/****************************************** 特殊 ******************************************/
/*图片变灰色+透明*/
.imggrayopacity{-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:grayscale(100%);filter:gray;opacity:0.2}
/*类同于 mbox1*/
.mwrap1{margin:0 10px}
.mwrap2{margin:0 4px}
.mwrap3{margin:0 4px;color:#666666;font-size:14px;line-height:18px;font-family:"微软雅黑","黑体","宋体"}
/*通用公共样式 必需写在最下面*/
/*框架*/
.mbox1{margin:0 10px}
.mbox2{margin:0 4px}
.mbox3{margin:0 4px;color:#666666;font-size:14px;line-height:18px;font-family:"微软雅黑","黑体","宋体"}
/*线*/
.hrblack{border:0px;border-top:1px solid #333333;height:0;padding:0;margin:0;overflow:hidden}
.hrgray{border:0px;border-top:1px solid #C0C0C0;height:0;padding:0;margin:0;overflow:hidden}
.hrred{border:0px;border-top:1px solid #FF0000;height:0;padding:0;margin:0;overflow:hidden}
/*圆角N像素*/
.radius5{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px}
.radius10{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px}
.radius15{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px}
.radius200{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px}
/*一条线*/
.linered{background-color:#FF0000;height:1px;overflow:hidden}
/*灰色线条*/
.linegray{background-color:#EAEAEA;height:1px;overflow:hidden}
/********** split **********/
body{background-color:#F9F9F9}
/*头部*/
.headerwrap{margin-bottom:20px;width:100%;background-color:#000;color:#FFFFFF;margin:0 auto 10px auto}
.headerbox{}
.headerbox .nav a{display:inline-block;padding:0 16px;height:60px;line-height:60px;font-size:16px;font-weight:bold;color:#FFF;vertical-align:middle}
.headerbox .nav a:hover{text-decoration:none;background-color:#656565}
.headerbox .nav a.focus{background-color:#656565}
/*主体外套*/
.mainwrap{border:0px solid #000;margin:0 auto;height:auto;padding:0px}
/*左边栏 右边栏*/ 
.sidebarleft,.sidebarright{float:left}
/*栏目盒子*/
.columnbox{margin-bottom:10px;border:1px solid #D4D4D4;background-color:#FFF}
.columnbox .title{margin-bottom:5px;padding:0 10px;line-height:40px;color:#535353;border-bottom:1px solid #D4D4D4;background-color:#FBFBFB;font-size:18px;font-weight:bold;position:relative}
.columnbox .title a.more{font-family:"宋体";font-size:14px;line-height:40px;color:#444444;position:absolute;right:10px;top:0px;font-weight:normal}
.columnbox .title a:hover.more{color:#000000;text-decoration:underline}
.columnbox .title h1,.columnbox .title h2{font-size:14px}
.columnbox .content{padding:5px 10px 10px;font-size:14px;line-height:24px;color:#333333}
/*列表*/
.columnbox .content .list li{position:relative;overflow:hidden;/*自动隐藏文字*/
	text-overflow:ellipsis;/*文字隐藏后添加省略号*/
	white-space:nowrap;/*强制不换行*/}
/*列表右边浮动*/
.columnbox .content .list li .time{position:absolute;right:10px;top:0;font-size:12px;color:#777}
.columnbox .content .list li a{font-family:"宋体";font-size:14px;line-height:24px;color:#444444;font-weight:normal}
.columnbox .content .list li a:hover{color:#000000;text-decoration:underline}
/*下载核心包*/
.columnbox .content a.corepackage{display:block;margin:5px auto 5px;width:100%;height:40px;line-height:40px;font-size:16px;text-align:center;color:#FFF;border-radius:4px;background-color:#666666}
.columnbox .content a:hover.corepackage{background-color:#333333}
/*底部*/
#footer{border-top:1px solid #D4D4D4;background-color:#FFF}
#footer .content{margin:0 auto;line-height:22px;font-size:14px}
/*评论*/
.comment{color:#979797;font-size:16px}
.comment textarea{width:100%;height:80px;outline:0;font-size:16px;line-height:24px}
.commentlist .usermsg{color:#888888;font-size:14px;line-height:24px;margin:0 0 10px 0}
.commentlist .contentcontent{color:#333333;font-size:14px;line-height:22px}
.commentlist .line{border-bottom:1px #CCCCCC solid;margin:6px 0 14px 0}
/*细节位置信息*/
.positionwrap{border:1px solid #DBDBDB;padding:10px 6px;color:#666666;font-size:14px;line-height:18px;margin:0 0 10px 0}
.positionwrap a{color:#666666;font-size:14px;line-height:18px}
.positionwrap a:hover{color:#333333}
/*上一篇下一篇定义*/
.updownarticlewrap{color:#666666;font-size:14px;line-height:30px}
.updownarticlewrap a{color:#000000;font-size:14px;line-height:30px}
.updownarticlewrap a:hover{color:#333333}
/*文章中作者信息*/
.articleinfowrap{margin:10px 0;line-height:22px;color:#999999;font-size:14px}
/*文章底部*/ 
.articlefooter{clear:both;margin-top:0;color:#999999;font-size:14px;line-height:18px;margin:10px 0}
/*按钮样式*/
.mybtn{margin-right:10px;padding:0 10px;height:30px;line-height:30px;font-weight:bold;color:#FFF;cursor:pointer;vertical-align:middle;border:0;background-color:#999999;font-size:14px}
.mybtn:hover{margin-right:10px;padding:0 10px;height:30px;line-height:30px;font-weight:bold;color:#FFF;cursor:pointer;vertical-align:middle;border:0;background-color:#666666;font-size:14px}
/* css注释：设置了浏览器宽度不小于981px时  显示980px宽度 */
@media screen and (min-width:981px){.mainwrap{width:980px}
.headerbox{width:980px}
#footer .content{width:980px}
.sidebarleft{width:740px;margin-right:10px}
.sidebarright{width:220px}
}/* 设置了浏览器宽度不大于980px时 abc 显示980px宽度 */ 
@media screen and (max-width:980px){.mainwrap{width:100%}
#footer .content{padding:0 4px}
.sidebarleft{width:100%}
.sidebarright{width:100%}
.pagecontrolwrap .pageinfo{width:100%}
.pagecontrolwrap .pageli,.pagecontrolwrap .pagefocus{display:none}
}.inputstyle{color:#333333}
 
/*模块功能列表_sharembweb_home__style.css end*//*article_detail.tpl start*/
/*article_detail.tpl end*/
/*foot.tpl start*/
/*foot.tpl end*/
/*head.tpl start*/
/*head.tpl end*/
/*index_model.tpl start*/
/*index_model.tpl end*/
/*main_model.tpl start*/
/*main_model.tpl end*/
/*news_detail.tpl start*/
/*news_detail.tpl end*/
/*article_aspphpcms.tpl start*/
/*article_aspphpcms.tpl end*//*in footer start*/
/*清除滚动*/
.clear40{height:40px;overflow:hidden;clear:both}
.cleardisplay{display:}
.btnfix{display:none;width:auto}
.btnclearfix{display:block;width:100%}
/*位置*/
.agleft{text-align:left}
.agcenter{text-align:center}
.agright{text-align:right}
/*颜色*/
.crblack{color:#000000}
.crgray{color:#666666}
.crgray2{color:#999999}
.crgray3{color:#CCCCCC}
.crwhite{color:#FFFFFF}
.crred{color:#FF0000}
.cryellow{color:#FFFF00}
.crblue{color:#0000FF}
/*大小*/
.fs12{font-size:12px}
.fs14{font-size:14px}
.fs16{font-size:16px}
.fs18{font-size:18px}
.fs20{font-size:18px}
.fs22{font-size:18px}
/*加粗正确*/
.addb{font-weight:bold}
.clearb{font-weight:normal}
/*字母间距*/
.azspacing2{letter-spacing:2px}
.azspacing4{letter-spacing:4px}
.azspacing6{letter-spacing:6px}
.azspacing8{letter-spacing:8px}
.azspacing10{letter-spacing:10px}
/*行高*/
.lh14{line-height:14px}
.lh16{line-height:16px}
.lh18{line-height:18px}
.lh20{line-height:20px}
.lh22{line-height:22px}
.lh24{line-height:24px}
.lh26{line-height:26px}
.lh28{line-height:28px}
.lh30{line-height:30px}
/*边缘*/
.mg0{margin:0px}
.mg2{margin:2px}
.mg4{margin:4px}
.mg6{margin:6px}
.mg8{margin:8px}
.mg10{margin:10px}
.mg20{margin:20px}
.mg30{margin:30px}
.mgu2{margin:2px 0 0 0}
.mgu4{margin:4px 0 0 0}
.mgu6{margin:6px 0 0 0}
.mgu8{margin:8px 0 0 0}
.mgu10{margin:10px 0 0 0}
.mgu20{margin:20px 0 0 0}
.mgu30{margin:30px 0 0 0}
.mgr2{margin:0 2px 0 0}
.mgr4{margin:0 4px 0 0}
.mgr6{margin:0 6px 0 0}
.mgr8{margin:0 8px 0 0}
.mgr10{margin:0 10px 0 0}
.mgr20{margin:0 20px 0 0}
.mgr30{margin:0 30px 0 0}
.mgd2{margin:0 0 2px 0}
.mgd4{margin:0 0 4px 0}
.mgd6{margin:0 0 6px 0}
.mgd8{margin:0 0 8px 0}
.mgd10{margin:0 0 10px 0}
.mgd20{margin:0 0 20px 0}
.mgd30{margin:0 0 30px 0}
.mgl2{margin:0 0 0 2px}
.mgl4{margin:0 0 0 4px}
.mgl6{margin:0 0 0 6px}
.mgl8{margin:0 0 0 8px}
.mgl10{margin:0 0 0 10px}
.mgl20{margin:0 0 0 20px}
.mgl30{margin:0 0 0 30px}
.mgud2{margin:2px 0}
.mgud4{margin:4px 0}
.mgud6{margin:6px 0}
.mgud8{margin:8px 0}
.mgud10{margin:10px 0}
.mgud20{margin:20px 0}
.mgud30{margin:30px 0}
.mglr2{margin:0 2px}
.mglr4{margin:0 4px}
.mglr6{margin:0 6px}
.mglr8{margin:0 8px}
.mglr10{margin:0 10px}
.mglr20{margin:0 20px}
.mglr30{margin:0 30px}
.mglrb2{margin:0 2%}
.mglrb4{margin:0 4%}
.mglrb6{margin:0 6%}
.mglrb8{margin:0 8%}
.mglrb10{margin:0 10%}
.mglrb20{margin:0 20%}
.mglrb30{margin:0 30%}
/*填充为0*/
.pd0{padding:0px}
.pd2{padding:2px}
.pd4{padding:4px}
.pd6{padding:6px}
.pd8{padding:8px}
.pd10{padding:10px}
.pd20{padding:20px}
.pd30{padding:30px}
.mgu2{padding:2px 0 0 0}
.pdu4{padding:4px 0 0 0}
.pdu6{padding:6px 0 0 0}
.pdu8{padding:8px 0 0 0}
.pdu10{padding:10px 0 0 0}
.pdu20{padding:20px 0 0 0}
.pdu30{padding:30px 0 0 0}
.pdr2{padding:0 2px 0 0}
.pdr4{padding:0 4px 0 0}
.pdr6{padding:0 6px 0 0}
.pdr8{padding:0 8px 0 0}
.pdr10{padding:0 10px 0 0}
.pdr20{padding:0 20px 0 0}
.pdr30{padding:0 30px 0 0}
.pdd2{padding:0 0 2px 0}
.pdd4{padding:0 0 4px 0}
.pdd6{padding:0 0 6px 0}
.pdd8{padding:0 0 8px 0}
.pdd10{padding:0 0 10px 0}
.pdd20{padding:0 0 20px 0}
.pdd30{padding:0 0 30px 0}
.pdl2{padding:0 0 0 2px}
.pdl4{padding:0 0 0 4px}
.pdl6{padding:0 0 0 6px}
.pdl8{padding:0 0 0 8px}
.pdl10{padding:0 0 0 10px}
.pdl20{padding:0 0 0 20px}
.pdl30{padding:0 0 0 30px}
.pdud2{padding:2px 0}
.pdud4{padding:4px 0}
.pdud6{padding:6px 0}
.pdud8{padding:8px 0}
.pdud10{padding:10px 0}
.pdud20{padding:20px 0}
.pdud30{padding:30px 0}
.pdlr2{padding:0 2px}
.pdlr4{padding:0 4px}
.pdlr6{padding:0 6px}
.pdlr8{padding:0 8px}
.pdlr10{padding:0 10px}
.pdlr20{padding:0 20px}
.pdlr30{padding:0 30px}
/*边框宽 20151208*/
.border0{border:0px}
.borderu0{border-top:0px}
.borderd0{border-bottom:0px}
.borderl0{border-left:0px}
.borderr0{border-right:0px}
/*滚动*/
/*透明度0.2*/
.op02{opacity:0.2}
.op04{opacity:0.4}
.op06{opacity:0.6}
.op08{opacity:0.8}
.op1{opacity:1}
/*宽*/
.widthb10{width:10%}
.widthb20{width:20%}
.widthb30{width:30%}
.widthb40{width:40%}
.widthb50{width:50%}
.widthb60{width:60%}
.widthb70{width:70%}
.widthb80{width:80%}
.widthb90{width:90%}
/*px*/
.width30{width:30px}
.width34{width:34px}
.width40{width:40px}
.width50{width:50px}
.width60{width:60px}
.width70{width:70px}
.width80{width:80px}
.width90{width:90px}
.width100{width:100px}
.width110{width:110px}
.width120{width:120px}
.width130{width:130px}
/*高px*/
.height30{height:30px}
.height34{height:34px}
.height40{height:40px}
.height50{height:50px}
.height60{height:60px}
.height70{height:70px}
.height80{height:80px}
.height90{height:90px}
.height100{height:100px}
.height110{height:110px}
.height120{height:120px}
.height130{height:130px}
.height150{height:150px}
.height180{height:180px}
.height200{height:200px}
/*背景颜色*/
.bgblack{background-color:#000000}
.bggrey{background-color:#F8F8F8}
.bggrey2{background-color:#CCCCCC}
.bggrey3{background-color:#999999}
.bggrey4{background-color:#666666}
.bggrey5{background-color:#333333}
.bgred{background-color:#FF0000}
.bgbblue{background-color:#0000FF}
.bgbyellow{background-color:#FFFF00}
/*光标手形*/
.cu{cursor:hand;!important;cursor:pointer}
/*不能选中*/
.noselect{-moz-user-select:none;/*火狐*/
	-webkit-user-select:none;/*webkit浏览器*/
	-ms-user-select:none;/*IE10*/
	-khtml-user-select:none;/*早期浏览器*/
	user-select:none}
/*in footer end*/
